@using Ludothek.Storage.Models
@model List<Ausleihe>
@{
    ViewBag.Title = "My Rentals";
}
<div id="rental_list">
    <div class="row">
        <div class="col-md-12 col">
            <h1>My Rentals</h1>
            <p>Manage all of your current rentals.</p>
            <hr/>        
        </div>
        <div class="row">
        @foreach (Ausleihe rental in Model) {
                <div class="col-md-6 col">
                    <h2>@rental.Spiel.Name</h2>        
                    <p><b>From: </b>@rental.Startdatum.ToString("dd. MMMM yyyy")</p>
                    <p><b>To: </b>@rental.Enddatum.ToString("dd. MMMM yyyy")</p>
                    <a class="btn btn-danger right" href="@Url.Action("Cancel", "Rental", new {rentalId = rental.AusleiheKeyGUID})">Cancel</a>
                    <a class="btn btn-default right" href="@Url.Action("Prolong", "Rental", new { rentalId = rental.AusleiheKeyGUID })">Prolong</a>
                    <div class="clearfix"></div>
                    <hr/>
                </div>
        }
        </div>

    </div>
</div>
