@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Manage")">Manage @User.Identity.GetUserName()</a></li>
                <li><a href="@Url.Action("Index", "Rental")">My Rentals</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Administration</li>
                    <li><a href="@Url.Action("Index", "Game")">Manage Games</a></li>
                    <li><a href="@Url.Action("Index", "Branch")">Manage Branches</a></li>
                }
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
