@model Ludothek.Storage.Models.Filiale

<div id="delete-branch">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Filiale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Vereinsname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vereinsname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Strasse)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Strasse)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ort)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ort)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PLZ)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PLZ)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Verband.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Verband.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>